.navbar{
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    .logArea{
        font-size: 30px;
        font-weight: bolder;
        margin-right: 60px;
    }
    .linkArea{
        span{
            color: #515756;
            font-size: 18px;
            padding: 0 20px;
        }
        .active{
            color:#1e80ff;
        }
    }

    .operationArea{
        margin-left: 150px;
    }
}